<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RadarView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>contaktme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB1B3F221A9E884800F9197C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB1B3F2C1A9E884800F9197C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB1B3F491A9E8A2300F9197C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB1B3F531A9E8A2300F9197C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBBEA8091A9D2ADC008F0ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBBEA8251A9D2ADC008F0ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
