<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url_base</key>
	<string>http://cmp-services-loadbalancer-245831814.sa-east-1.elb.amazonaws.com/cmp/Futbol/1.0/</string>
	<key>equipo</key>
	<string>Equipo/Equipo?campeonato=peru&amp;amp;encuentro=</string>
	<key>datos_partido</key>
	<string>Incidencias/Incidentes?campeonato=peru&amp;amp;encuentro=</string>
	<key>proximos</key>
	<string>Resumen/Fixture?campeonato=peru&amp;amp;estado=proximos</string>
	<key>fixture</key>
	<string>Resumen/Fixture?campeonato=peru&amp;amp;estado=anteriores</string>
	<key>imagen_remera</key>
	<string>https://s3-sa-east-1.amazonaws.com/cmpsbtv/cmp_shirt/</string>
	<key>imagen_escudo</key>
	<string>https://s3-sa-east-1.amazonaws.com/cmpsbtv/cmp_shield/</string>
	<key>goleadores</key>
	<string>Goleadores/Lista?campeonato=peru</string>
	<key>posiciones</key>
	<string>Posiciones/Lista?campeonato=peru</string>
	<key>posicionesChile</key>
	<string>Posiciones/Lista?campeonato=peru</string>
	<key>estadisticas</key>
	<string>Incidencias/Estadisticas?campeonato=peru&amp;amp;encuentro=</string>
	<key>jugador</key>
	<string>Jugador/Jugador?campeonato=peru</string>
	<key>login</key>
	<string>Login/Log</string>
	<key>update</key>
	<string>Login/Update?</string>
	<key>EquipoDetalle</key>
	<string>Equipo/Detalle?campeonato=peru&amp;amp;equipo=</string>
	<key>envivo</key>
	<string>Resumen/Fixture?campeonato=peru&amp;amp;estado=vivo</string>
</dict>
</plist>
